.content{
    background-color: black;
    .comic{
        padding-top: 15px;
        padding-bottom: 15px;
        a{
            color: white;
            .cover{
                width: 100%;
                img{
                    width: 100%;
                    
                }
            }
        }
    }
    .load-more{
        button{
            font-weight: bold;
            color: white;
            border: none;
            padding: 5px 40px 5px 40px;
            background-color:rgb(0, 204, 255) ;
            margin: 45px;
        }
    }
    .shop-bar{
        background-color:rgb(0, 204, 255) ;
        height: 200px;
        .items-bar{
            height: 200px;
            .item-bar:nth-child(4){
                img{
                    width: 40px;
                }
            }
            .item-bar{
                flex-basis: calc(100% / 5);
                img{
                    width: 60px;
                }
            }
        }
    }
}