.little-banner {
  background-color: blue;
  font-size: 12px;
  padding-right: 5px;
}

.little-banner span {
  font-weight: bold;
  margin: 5px;
}

/* NAV-TOP */

.nav-top .logo-nav {
  flex-basis: 100px;
  flex-shrink: 0;
}

.nav-top .nav-items {
  list-style: none;
}

.nav-top .nav-items li {
  margin: 5px;
}

.nav-top .nav-items li a {
  text-decoration: none;
}

.nav-top .search {
  flex-basis: 100px;
  flex-shrink: 0;
}

/* big-banner */

.big-bannner {
  height: 250px;
  background-image: url("/images/jumbotron.jpg");
  background-size: cover;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

