.little-banner {
  background-color: blue;
  font-size: 12px;
  padding-right: 5px;
}

.little-banner span {
  font-weight: bold;
  margin: 5px;
}

/* NAV-TOP */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

